<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="windbgPath" value="" />
        <add key="httpSysLoggingEnabled" value="false" />
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="System.Net.Sockets">
            </source>
            <source name="System.Net.WebSockets">
            </source>
            <source name="System.Net">
            </source>
            <source name="System.Net.Http">
            </source>
        </sources>
        <switches>
            <add name="System.Net.Sockets" value="Verbose" />
            <add name="System.Net.WebSockets" value="Verbose" />
            <add name="System.Net" value="Verbose" />
            <add name="System.Net.Http" value="Verbose" />
        </switches>
        <trace autoflush="true" />
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>